@{
  Layout="shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  </head>
  <body>
    <div class="container">

    <div class="jumbotron">
      <h1>answer:</h1>

    </div>

    <h2>the word you selected appear's @Model times</h2>

    <h3><a href="/">Return Home</a></h3>

  </body>
</div>
</html>
